@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

p,
input,
select,
h1,
h2,
h3,
h4,
h5,
h6,
i,
button,
span,
div,
textarea {
  color: #f7f7f7;
}

input {
  caret-color: #f7f7f7;
}

p {
  line-height: 1.5;
}

/* Panton */

@font-face {
  font-family: "Panton";
  font-style: normal;
  font-weight: 390;
  src: local("Panton"),
    url("./fonts/Panton-BlackCaps.woff2") format("woff");
  font-display: swap;
}

/* Minecraft */
@font-face {
  font-family: "Minecraft";
  src: url("./fonts/Minecraft-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.vertical-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.horizontal-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

* {
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #181818;
}

::-webkit-scrollbar {
  display: none;
}